/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


.button.hero {
    background: $primaryColor;
    color: #fff;
    font-size: 30px;
    padding: .5em 1.25em;
    font-weight: bold;
}

.button.hero:visited {
    background: $primaryColor;
    color: #fff;
}

.button.hero:hover {
    background: #fff;
    color: $primaryColor;
}
.blockContent h2 {
    color: $primaryColor;
}
